$color-main-font: #ffee58;
$color-secondary-font: #fff;
$font-color: #0f0e13;
$color-background-cosmos: #101747;
$color-background-cosmos-2: #030035;
$color-background-main: #2a285c;
$color-sith-red: #c8141e;
$color-jedi-green: #00b45a;
