@use '../../../sass/main.scss' as *;

.tile {
  position: relative;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  &__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    color: $color-main-font;
    @include text-borders(0px);

    &--big {
      font-size: $font-size-extra-large;
      font-weight: $font-weight-bold;
      @include text-borders;
    }
  }
}
