@use '../main.scss' as *;

.u-list-of {
  position: relative;
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 200px);
  gap: 1em;

  padding: 1em 0 1em 0;

  &--characters {
    @extend .u-list-of;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(2, 343.75px);
  }
}
