@use '../../sass/main.scss' as *;

.people__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(2, 343.75px);
  gap: 1em;
  padding: 1em 0 1em 0;
}
